<!DOCTYPE html>
<html ng-app="hangman">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/hangman.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/hangman.js"></script>
    </head>
    
    <body id="outer" class="container" ng-controller="HangmanController as hangman">
            
        <header>
            <h1 id="title" class="text-center">Tom Brady Hangman</h1>
        </header>       
        
        <form id="formOne" name="setupForm" ng-controller="SetupController as setupCtrl" ng-submit="setupCtrl.done(hangman)" ng-hide="hangman.setupComplete">
            <div>
                <img ng-src='images/brady.jpg' width="100%"/>
            </div>
              
            <div>
                "When I felt them, they were perfect. I wouldn't want anyone touching those. 
                I would zip those things up and lock them away until 
                I got on the field and had the opportunity to play with them." -- Tom Brady 
            </div>
            <br>
            <div>
                Are you buying what Tom Brady had to say about the recent "deflategate" incident? 
                Help decide Tom's fate with a game of hangman.... <br>
            </div>
            <br>
            <fieldset class="form-group">
                <input ng-model="hangman.hangmanWord"type="text" class="form-control" placeholder="Enter a word for hangman..." title="Hangman Word" required>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Done" />
            </fieldset>
        </form>
        
        <div class="gallery" style="text-align: center" ng-show="hangman.setupComplete">
            <img ng-src="{{hangman.image}}" />
        </div>
        
        <form id="formOne" name="dataEntryForm" ng-controller="DataEntryController as dataEntryCtrl" ng-submit="dataEntryCtrl.submit(hangman)" ng-show="hangman.setupComplete">
            <fieldset class="form-group" style="text-align: center">
                <input ng-repeat="item in hangman.wordArray track by $index" ng-model="hangman.wordArray[$index]" ng-readonly="true" type="text" maxlength="1" size="1" style="text-align: center" />
            <fieldset>
            <br>    
            <fieldset>    
                <div ng-hide="hangman.misses.length == 0">
                    Misses:
                </div>    
                <input ng-repeat="miss in hangman.misses track by $index"  ng-model="hangman.misses[$index]" ng-readonly="true" type="text" maxlength="1" size="1" style="text-align: center" />
            </fieldset>
            <br> 
            </fieldset>
                <input ng-model="hangman.guess" class="form-control" placeholder="Enter a letter..." type="text" maxlength="1" size="15" style="text-align: center" />
                <input type="submit" class="btn btn-primary btn-block" value="Guess" />
            </fieldset>
        </form>         
        
        <form id="formOne" name=hintForm ng-controller="HintController as hintCtrl" ng-click="hintCtrl.getHint(hangman)" ng-show="hangman.setupComplete">
            <fieldset class="form-group">
                
                <select ng-model="hangman.hintOption" class="form-control" ng-options="hints for hints in ['Standard Definition','Urban Dictionary Definition']" title="Hint">
                    <option value="">Select a hint option...</option>
                </select>
                <blockquote>{{hangman.definition}}</blockquote>    
            </fieldset>
        </form>
     
    </body>
    
</html>
